body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0fdf4;
    color: #000000;
  }
  header {
    background-color: #6B8E23;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: 	#9ACD32;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  section {
    padding: 20px;
  }
  footer {
    background-color: #6B8E23;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  body{
   background-color: rgb(252, 252, 252);
  }
  ul.razones-reciclaje li {
    margin-bottom: 10px; /* Espacio entre elementos */
    line-height: 1.6;    /* Mejor lectura */
 }
 
 #btnSubir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 14px 18px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
  z-index: 1000;
}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}





nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

section {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}


.tipos-huella-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.tipo {
  max-width: 300px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tipo h3 {
  color: #333;
  margin: 15px 0 10px;
}

.tipo p {
  color: #555;
  font-size: 15px;
}

.icono {
  font-size: 40px;
  color: #007c91;
  background-color: #c4f0f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
